//Services
.services{
    &__container{
        grid-template-columns: repeat(2, 1fr);
        padding-top: 1rem;
    }
    &__data{
        display: grid;
        row-gap: 1rem;
        background-color: var(--container-color);
        box-shadow: 0 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
        padding-top: 2rem 1.5rem;
        border-radius: 1rem;
        text-align: center;
        transition: all 0.2s ease-out;
       
        &:hover{           
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;    
           
        }
    }
    &__subtitle{
        margin-top: var(--mb-1);
    }
    &__img{
        width: 40%;
        justify-self: center;
        margin-bottom: var(--mb-0-5);
    }
    &__description{        
        text-align: center;
    }

}